@page "/registration"
@using BlazorControlWork.Data
@inject NavigationManager NavigationManager
@inject UserService UserService
  <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind-value="@Name"/>
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind-value="@Surname" />
                  <label class="form-label" for="form3Example1cg">Sur Name</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" @bind-value="@Login" />
                  <label class="form-label" for="form3Example1cg">Login</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" @bind-value="@Email"/>
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" @bind-value="@Password"/>
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" @bind-value="@Password2"/>
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                </div>

                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <p>
                  <select name="sss" type="text" @bind="Specialist">
                            <option text="Проектировщик">Проектировщик</option>
                            <option text="Застройщик">Застройщик</option>
                            <option text="Заказщик">Заказщик</option>
                  </select>
                  </p>
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"  @onclick="@CreateUsers">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/authorization"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@code {
    private string Name = "";
    private string Surname = "";
    private string Email = "";
    private string Login = "";
    private string Password = "";
    private string Password2 = "";
    private string Specialist = "";


    private void CreateUsers()
    {
        
        UserService.login = "";
        UserService.Org= "";
        UserService.OGRN= "";
        UserService.Phone= "";
        UserService.INN= "";
        UserService.name= "";
        UserService.surname= "";
        UserService.email= "";
        UserService.role= "";

        if (Name != "" && Surname != "" && Email != "" && Login != "" && Password != "" && Password2 != "" && Password == Password2)
        {
            User user = new User(Name, Surname, Email, Password, Login,Specialist,"",
            "","","");
            UserService.user = user;
            MongoExamples.AddToDB(user);
            NavigationManager.NavigateTo("/authorization");
        }
    }
}
